absl-py==1.3.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.8
astunparse==1.6.3
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.11.1
bintrees==2.2.0
bleach==5.0.1
branca==0.6.0
CacheMan==2.2.0
cachetools==5.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.5
contourpy==1.0.5
cycler==0.11.0
Cython==3.0.0b2
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
distlib==0.3.6
dm-tree==0.1.8
docker-pycreds==0.4.0
dominate==2.7.0
easydict==1.7
entrypoints==0.4
etils==0.9.0
executing==1.1.0
fastjsonschema==2.16.2
filelock==3.9.0
flatbuffers==22.12.6
folium==0.13.0
fonttools==4.37.4
funcsigs==1.0.2
gast==0.4.0
gdown==4.7.1
geographiclib==2.0
geopy==2.3.0
gitdb==4.0.10
GitPython==3.1.31
google-auth==2.15.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.57.0
grpcio==1.51.1
h5py==3.7.0
idna==3.4
imageio==2.22.3
importlib-metadata==4.13.0
importlib-resources==5.10.1
ipykernel==6.16.0
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
json-tricks==3.16.1
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.16.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
keras==2.11.0
keras-tuner==1.1.3
kiwisolver==1.4.4
kt-legacy==1.0.4
langdetect==1.0.9
libclang==14.0.6
lxml==4.9.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.0
matplotlib-inline==0.1.6
minio==7.1.14
mistune==2.0.4
mpmath==1.2.1
munkres==1.1.4
nbclient==0.6.8
nbconvert==7.0.0
nbformat==5.6.1
nest-asyncio==1.5.6
networkx==2.8.7
nltk==3.7
notebook==6.4.12
numpy==1.24.2
oauthlib==3.2.2
opencv-python==4.6.0.66
opt-einsum==3.3.0
ordered-set==4.1.0
packaging==21.3
pandas==1.5.0
pandoc==2.2
pandocfilters==1.5.0
parso==0.8.3
pathlib==1.0.1
pathtools==0.1.2
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==3.2.0
plotly==5.10.0
plumbum==1.8.0
ply==3.11
prometheus-client==0.14.1
promise==2.3
prompt-toolkit==3.0.31
protobuf==3.19.6
psutil==5.9.2
pure-eval==0.2.2
py4j==0.10.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyee==8.2.2
Pygments==2.13.0
pyparsing==3.0.9
pyppeteer==1.0.2
pyrsistent==0.18.1
PySocks==1.7.1
pyspark==2.4.4
pyspellchecker==0.7.0
python-dateutil==2.8.2
pytz==2022.4
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==24.0.1
qtconsole==5.3.2
QtPy==2.2.0
regex==2022.9.13
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
seaborn==0.12.0
Send2Trash==1.8.0
sentencepiece==0.1.98
sentry-sdk==1.22.2
setproctitle==1.3.2
six==1.16.0
sklearn==0.0
smmap==5.0.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spark-nlp==4.2.6
stack-data==0.5.1
sympy==1.11.1
tenacity==8.1.0
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6
tensorflow==2.11.0
tensorflow-datasets==4.8.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.29.0
tensorflow-metadata==1.12.0
termcolor==2.1.1
terminado==0.16.0
threadpoolctl==3.1.0
tifffile==2022.10.10
tinycss2==1.1.1
toml==0.10.2
tornado==6.2
tqdm==4.64.1
traitlets==5.4.0
typing_extensions==4.4.0
urllib3==1.26.12
virtualenv==20.21.0
visdom==0.2.4
wandb==0.15.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.5.1
websockets==10.4
Werkzeug==2.2.2
widgetsnbextension==4.0.3
wordcloud==1.8.2.2
wrapt==1.14.1
yacs==0.1.8
yellowbrick==1.5
zipp==3.11.0
